<html>
    <head>
        <title>User Details</title>
    </head>
    <body>
        <form method='post' action='/users'>
            <div>ID <input type="text" name="id" /></div>
            <div>First <input type="text" name="fname" /></div>
            <div>Last <input type="text" name="lname" /></div>
            <div><input type="submit" /></div>
        </form>
        <div><a href="/users">Go Back</a></div>
    </body>
</html>
