<html>
    <head>
        <title>User Details</title>
    </head>
    <body>
        <h1>ID <%=user.id%></h1>
        <h1>First <%=user.fname%></h1>
        <h1>Last <%=user.lname%></h1>
        <div><a href="/users">Go Back</a></div>
    </body>
</html>
